{% extends 'base.html' %}
{% block content %}

<form action="/homepage" method= "POST">
    Owner First Name: <input type = "text" name = "fname"><br><br>
    Owner Last Name: <input type = "text" name = "lname"><br><br>
    Apartment Number :<input type = "number" name = "apt"><br><br>
    Email: <input type= "email" name="email"><br><br>
    Password: <input type= "password" name= "password"><br><br>
    Dog Name: <input type = "text" name = "dogname"><br><br>
    Dog Age: <input type = "number" name = "age" min = "0"><br><br>
    Breed: <input type = "text" name = "breed"><br><br>
    Gender: <input type = "radio" name = "gender" value = "male"> Male
            <input type = "radio" name = "gender" value = "female">Female<br><br>
    Size: <input type = "radio" name = "dogsize" value = "small">Small (upto 25 pounds)
          <input type = "radio" name = "dogsize" value = "medium">Medium (25 to 50 pounds)
          <input type = "radio" name = "dogsize" value = "large">Large (over 50 pounds)<br><br>


    <br>
    <input type = "submit">
</form>

{% endblock %}