{% extends 'base.html' %}
{% block content %}
<!-- <h1> Welcome to Digger. Your dogs playground! </h1> -->

<p> Welcome to Digger. Your dogs playground! </p>
 
<button><a href="/all_dogs">All Dogs</a></button>
<button><a href="/homepage">Home</a></button>
<button><a href="/activity_log">Activity Log</a></button>
<button><a href="/profile">Profile</a></button>
<button><a href="/logout">Logout</a></button>
<br><br>
<form>
    <button><a href="/add_dog">Add dog</a></button>
</form>

<!--  WEATHER API  -->

<div> 
    <h3><i> Weather </i> </h3>
    <img src = http://openweathermap.org/img/w/01d.png>
    <p><b> Weather: </b>
        {{weather["description"]}}<br>
        <b> Temperature: </b>
        {{weather["temp"]}}F<br>
    </p>
</div>
<a href="https://www.accuweather.com/en/us/sunnyvale-ca/94087/weather-forecast/331979" class="aw-widget-legal">

<!-- By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy. -->

</a><div id="awcc1539557126424" class="aw-widget-current"  data-locationkey="331979" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1539557126424"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
<br>
<br>

<table align="right">
    <thead>
            <th> List of dogs at present!</th>    
    </thead>
    {% for log in logs%}
      <tr>
        <td>{{log.dog.dogname}}</td>
    </tr>
    {%endfor%}
</table>

{% for pic in dog_profiles.dogs%}
<p><img src =  'static/upload/{{pic.pic}}' width="300" height="200"></p>
{% endfor %}

<!--  GETTING DOG PICTURE FROM DATABASE  -->

<!-- <p><img src =  "/static/upload/{{dog.pic}}" ></p> -->

<!--  GETTING USERS DOGS -->
<form id = "checkin_form" method="POST">
{% for dog in dog_profiles.dogs %}
<input type="checkbox" name="dog" value="{{dog.dog_id}}">{{dog.dogname}}
{% endfor %}
</form><br>

<button id = "checkin" value = "Check-in">Check-in</button>
<script>
  "use strict";
  
    let button = $('#checkin');

    function checkin_click(evt) {
        evt.preventDefault();
        
        if (button.html() === "Check-in") 
        {
            let form_data = $("#checkin_form").serialize();
            console.log(form_data);
            $.post('/checkin', form_data, function(data) 
            {
                console.log(data)
            })
          button.html("Check-out");
        }
        else if (button.html() === "Check-out")
        {
            let form_data = $("#checkin_form").serialize();
            $.post('/checkout', form_data, function(result)
            {
                console.log(result)
            })
            button.html("Check-in");
        }
    }
button.on('click', checkin_click)

 </script>  

{% endblock %}