{% extends 'base.html' %}
{% block content %}
<body class="background">
</body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
    
    <a class="navbar-brand ">
    <img src="/static/dogs.jpg" width="60" height="60" class="d-inline-block align-top" alt="">Digger
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse button" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#">About us</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <section class="col-12 col-sm-12 col-md-6 col-lg-6 left">
            <div class="title-div" style="margin-top: 6em;">
            <h1 id="titleleft">DIGGER</h1>
            <p id="para">
              Welcome to Digger, Your dogs playground!
            </p>
        </section>

        <section id="login-section" class="col-12 col-sm-12 col-md-6 col-lg-6 right">
            <div class="login-div" style="margin-top: 10em;">
                <h2 id="signup">Login or Sign Up</h2>
                <form action="/login" method= "POST">
                    <div>
                        <label for="exampleInputEmail1"></label>
                        <input type="email" name="email" class="form" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required="">
                    </div>

                    <div>
                        <label for="exampleInputPassword1"></label>
                        <input type="password" name="password" class="form" id="exampleInputPassword1" placeholder="Password" required="">
                    </div>

                    <button type="submit" class="btn">Login</button><br><br>
                    <b><i>or</i></b>
                </form>
                <form>
                    <button><a href="/sign_up" class="btn">Sign Up</a></button>
                </form>
            </div>
            </section>
   
    </div>  <!-- row end -->
</div> <!-- container end -->


{% endblock %}