

<script>
  "use strict";
  
    let button1 = $('#checkin');

    function checkin_click(evt) {
        evt.preventDefault();
        
            let form_data = $("#checkin_form").serialize();
            console.log(form_data);
            $.post('/checkin', form_data, function(data) 
            {
                console.log(data)
               for (let name in data.checkedin_names) {
            
                $('#checkedin_dogs').html('{{name}} checked in: ' + data.check_in_time);
               }
                
            })
        }

    button1.on('click', checkin_click)


    let button2 = $('#checkout');

    function checkout_click(evt) {
        evt.preventDefault();
    
        let form_data = $("#checkin_form").serialize();
        console.log(form_data);
        $.post('/checkout', form_data, function(data)
        {
            console.log(data);
           
            $('#message').html('{{dog_name}} checked out: ' + data.check_out_time);
            {% endfor %}
        })
        
    }

    button2.on('click', checkout_click)

 </script>  

 {% for dogname in dog_names %}
                {% if loop.first and loop.length <=2 %}
                    {{dogname}} 
                {% elif loop.last %}
                    and {{dogname}}
                {% else %}
                    {{dogname}},
                {% endif %}
{% endfor %}


@app.route("/get_weather")
def weather():

    url = 'http://api.openweathermap.org/data/2.5/weather?q=Sunnyvale'
    data = {'x-api-key': '6a41599a2f18db03557355bcffc7185c', }
    # response = requests.get(url, headers=headers)
    response = requests.get(url, params=data)
    result = response.json
    final_result = result['weather'][0]['main']
    return final_result
    # return jsonify({'temp' : final_result})

<script>
    let weather_button = $('#weather');
    function getWeather(evt) {
        evt.preventDefault();
        $.get('/get_weather', function(data) 
        {
            console.log(data)
        })
    }
weather_button.on('click', getWeather)
</script>




# @app.route('/upload_pic', methods=['POST'])
# def upload_file():

#     dogname = request.form.get("dogname")
#     age = request.form.get("age")
#     breed = request.form.get("breed")
#     gender = request.form.get("gender")
#     size = request.form.get("size")
#     pic = request.form.get("pic")

#     user = User.query.get(session['user_id'])

#     new_dog = Dog(dogname=dogname, age=age, breed=breed, 
#         gender=gender, size=size, user=user)

#     db.session.add(new_dog)
#     db.session.commit()
#     dog_id = str(new_dog.dog_id)



# @app.route('/upload/<filename>')
# def uploaded_file(filename):
#     return send_from_directory(app.config['UPLOAD_FOLDER'],
#                                filename)