{% extends 'base.html' %}
{% block content %}



<form action="/sign_up" method= "POST">
    Owner First Name: <input type = "text" name = "fname" required><br><br>
    Owner Last Name: <input type = "text" name = "lname" required><br><br>
    Apartment Number :<input type = "number" name = "apt"><br><br>
    Email: <input type= "email" name="email" required=""><br><br>
    Password: <input type= "password" name= "password" required><br><br>
    <br><br>
    <input type = "submit" value = "Sign-Up!"><br><br>
</form>

 
{% endblock %}